
.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  max-height: 50vh;
  overflow-y: scroll
}

.content {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  gap: 15px;  
}

.totalOrder {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.totalPrice {
  display: flex;
  align-items: center;
}


