.section {
  padding-top: 180px;
  width: 480px;
  text-align: center;
  margin: 0 auto;
}


.section div {
  width: 100%;
  position: relative;
}

.icon {
  position: absolute;
  right: 24px;
  top: calc(50% - 12px);
}



.link button {
 padding: 0 0 0 10px;
}
