.window {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 520px;
  margin: 0 auto;  
}

.list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;  
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredient {
  text-align: center;
}
